.search-container {
    background-color: rgb(61, 59, 59);
    padding: 1rem;
}

.search-container input {
    width: 80%;
    height: 1.5rem;
    border: none;
    font-size: 1rem;
}

.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #e9dede1f;
}

.product-container {
    border-right: 1px solid lightgray;
    margin-left: 5rem;
    padding: 5px;
}