.cart {
    background-color: #000;
    color: #fff;
    margin-left: .6rem;
    margin-top: 0.5rem;
    padding: 1.5rem 0.7rem;
    border-radius: 0.5rem;
    box-shadow: -5px 10px 5px gray;
}

.price-ditels {
    text-align: left;
    margin-left: 1rem;
}

.order-total {
    color: red;
}